on:
  push:

jobs:
  set:
    runs-on: ubuntu-latest
    outputs:
      container: ${{ steps.set-container.outputs.container }}
    steps:
    - id: set-container
      run: echo "container={\"image\":\"ghcr.io/anthmmatic/container1:service\",\"volumes\":\"gh-upstream:/data/upstream\"}" >> $GITHUB_OUTPUT
      
  test:
    needs: set
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/anthmmatic/container1:service
      volumes:
        - ${{ false && format('/opt/upstream:/opt/upstream{0}:ro', contains(inputs.container-image-version, 'v1.0') && '-v1.0' || '') || [] }}
        - ${{ false && '/opt/runner_set_buildcache:/opt/runner_set_buildcache:rw' || [] }}
    steps:
      - run: echo 'done'
