on:
  push:

jobs:
  set:
    runs-on: ubuntu-latest
    outputs:
      container: ${{ steps.set-container.outputs.container }}
    steps:
    - id: set-container
      run: echo "container={\"image\":\"ghcr.io/anthmmatic/container1:service\",\"volumes\":\"gh-upstream:/data/upstream\"}" >> $GITHUB_OUTPUT
      
  test:
    needs: set
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/anthmmatic/container1:service
      volumes: ''
    steps:
      - run: echo 'done'
