on:
  push:

jobs:
    test:
      runs-on: ubuntu-latest
      services:
        upstream:
          image: ghcr.io/anthmmatic/container1:service
          volumes:
            - gh-upstream:/data/upstream
      steps:
        - run: |
            docker volume ls
